<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmytZHa4m-7u2Z9w9umO40GO2Zq7iQmOU</string>
	<key>GCM_SENDER_ID</key>
	<string>783963060275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sistemaInventarioV05</string>
	<key>PROJECT_ID</key>
	<string>sistema-inventario-v02</string>
	<key>STORAGE_BUCKET</key>
	<string>sistema-inventario-v02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783963060275:ios:df5a19f07f24660c0ccb46</string>
</dict>
</plist>